@page "/BookIndex"
@*
@using DataAccessLibary
@using DataAccessLibary.Models

@inherits ComponentBase 
<style>
    td{
        border: 1px solid black
    }
</style>
<h3>Books</h3>

<table>
    @foreach(var book in Books){
    <tr>
         <td class="col-1 align-middle"> @book.book_id</td>
         <td class="col-3 align-middle"> @book.book_title</td>
         <td class="col-1 align-middle"> @book.stored_copies</td>
         <td class="col-1 align-middle"> @book.current_rent</td>
         <td class="col-1 align-middle"> <button @onclick="@(() =>DeleteBook(@book))">Delete</button></td>
         <td class="col-1 align-middle"> <button @onclick="@(() =>EditBookInformation(@book))">Edit</button></td>
    </tr>
}
</table>

<input type="button" onclick=@InsertNewBook value="Insert"/>
*@